<div #dashboard class="page-layout blank p-24" fusePerfectScrollbar>

  <h2>Dashboard</h2>

  <div class="content">

    <!-- <div class="font-size-72">
        😁
    </div> -->

    <div class="py-16 font-size-18 font-weight-300">
      Questionstste wise statistics
    </div>

    <div fxLayout="row wrap">

      <div *ngFor="let bloc of statistics">
        <count [count]="bloc.value" [title]="bloc._id"></count>
      </div>

    </div>


    <div class="py-16 font-size-18 font-weight-300">
      Draw slots wise statistics
    </div>

    <div fxLayout="row wrap">

      <div *ngFor="let bloc of draws">
        <draws-count [appCount]="bloc.value.app" [onGround]="bloc.value.onGound" [title]="getFormattedDate(bloc._id.$date)" [footer]="'Coupon(s)'"></draws-count>
      </div>

    </div>

  </div>

</div>